@media only screen and (min-width:1200px) {  }

@media(max-width:1399px) {  }

@media(max-width:1365px) {  }

@media(max-width:1199px) {  }

@media(max-width:1024px) {  }

@media(max-width:992px) {

  .info-box {
    padding: 50px 50px 70px;   
  }
  .card-body .owl-carousel {
     background: rgba(100,180,200,0.9);
  }
  .info-title {
    z-index: inherit;
  }

}

@media(max-width:767px) {  }

@media(max-width:674px) {  }

@media(max-width:575px) {  }

@media(max-width:479px) { 
  .info-box {
    padding: 30px 20px 70px;   
  }
}

@media(max-width:359px) {  }